{% extends 'base.html' %}
{% block title %}Search Customers {% endblock %}
{% block content %}

<a class="btn btn-primary" style="float: right" href="/add/">Add a Customer</a></p>

<h1>Search: {{query}}</h1>

<ul style="column-count: 4">
    {% if results|length == 0 %}
        <p>No results found.</p>
    {% else %}
        <!-- Display the results -->
        {% for customer in results %}
        <li><a href="/{{ customer.id }}/">{{ customer.fullName() }}</a></li>
        {% endfor %}
    {% endif %}
</ul>

{% endblock %}